[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
uvicorn = "*"
python-telegram-bot = "*"

[dev-packages]
pytest = "*"
ipython = "*"
ipdb = "*"
factory-boy = "*"